<% content_for :app_controller do %>
  ng-app='app.geoflightsApp' ng-controller='HomeCtrl'
<% end %>

<div class="home-box">
    <section class="stark-login">
        <form action="" method="">  
            <div id="fade-box">
                <button ng-click="access()">Access</button> 
            </div>
        </form>
    </section> 

    <div id="circle1">
        <div id="inner-cirlce1">
            <h2> </h2>
        </div>
    </div>

</div>