/* ---------------------------- General settings --------------------------- */

* {
  box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #00FFFC;
}

/* ----------------------------       Logo       --------------------------- */

#logo {
  animation: logo-entry 4s ease-in; 
  width: 45px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  z-index: 40;
}

h1 {
    animation: text-glow 2s ease-out infinite alternate;
    color: #00a4a2;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
}

h1::before {
    animation: before-glow 2s ease-out infinite alternate;
}

h1::after {
    animation: after-glow 2s ease-out infinite alternate;
}

@keyframes text-glow {
  0% {
    color: #00a4a2;
    text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  } 
  100% {
    color: #00FFFC;
    text-shadow: 0 0 20px rgba(0, 255, 253, .6), 0 0 10px rgba(0, 255, 253, .4), 0 2px 0 #000;
  }
}

.buttons-p {
    padding-top: 15px;
}

/* ---------------------------------  Home --------------------------------- */

.home-box {
  height: 100%;
  text-align: center;
  width: 100%;
}

.stark-login form {
    animation: form-entry 3s ease-in-out; 
    background: #111;
    background: linear-gradient(#004746, #111);
    border: 6px solid #00A4A2;
    box-shadow: 0 0 15px #00fffd;
    border-radius: 5px;
    display: inline-block;
    height: 120px;
    margin: 300px auto 0;
    z-index: 4;
    width: 500px;
    transition: 1s all ;
}

.stark-login form:hover {
    border: 6px solid #00fffd;
    box-shadow: 0 0 25px #00fffd;
    transition: 1s all ;
}

button { 
    animation: input-entry 4.5s ease-in; 
    border: 1px solid #444;
    border-left-color: #000; 
    border-radius: 5px;
    box-shadow: 0 2px 0 #000;
    display: block;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 40px;
    margin: 20px auto; 
    text-shadow: 0 -1px 0 #000;
    width: 400px;
    transition: 1s all ;
    text-decoration: none;
    color: #000000;
    background: #00FFFC;
    height: 70px;
    padding-top: 10px;
    cursor: pointer;
}

button:hover {
    text-decoration: none;
    color: #000000;
    background: #00A4A2;
}  

#circle1 { 
  background: #000;
  border-radius: 50%;
  border: 10px solid #00A4A2;
  box-shadow:0 0 0 2px black, 0 0 0 6px  #00FFFC;
  height: 500px;
  width: 500px;
  margin-top: 100px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -250px;
  overflow: hidden;
  opacity: 0.4;
   z-index: -3; 
}

#inner-cirlce1 {
  background: #000; 
  border-radius: 50%;
  border: 36px solid #00FFFC; 
  height: 460px; 
  width: 460px; 
  margin: 10px;
}

/* ----------------------------       Map        --------------------------- */

.fade-box {
  animation: input-entry 2s ease-in; 
}

.map-background {
    background-color: #000000;
    border-style: solid;
    border-color: #00FFFC;
}

#map {
    height: 750px;
}

/* ---------------------------      navmenu      --------------------------- */

.navmenu-float {
    left: 0px; 
    right: 1555px;
}

.navmenu-brand {
    text-decoration: none;
    color: #00FFFC;
}

.navmenu-brand:hover {
    text-decoration: none;
    color: #000000;
    background: #00FFFC;
}

.navmenu-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
    background-color: #00FFFC;
    border-style: solid;
    border-color: #000000;
}
.navmenu-nav li a:hover {
    text-decoration: none;
    color: #000000;
    background: #00A4A2;
}

/* ----------------------------      Status      --------------------------- */

.status {
    height: 540px;
}

.coordinates {
    border-style: solid;
    border-color: #00FFFC;
}

li a {
    display: block;
    text-decoration: none;
    color: #000000;
    background-color: #00FFFC;
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
}

li a:hover {
    text-decoration: none;
    color: #000000;
    background: #00A4A2;
}

.airline-noselected {
    cursor: pointer;
}

.airline-noselected:hover {
    background: #cccccc;
    color: #000000;
}

.airline-selected {
    text-decoration: none;
    color: #000000;
    background: #00FFFC;
    cursor: pointer;
}

.airlines {
    max-height: 165px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}

.countries {
    max-height: 165px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}

::-webkit-scrollbar {
      width: 15px;
}

::-webkit-scrollbar-track {
      background-color: #00A4A2;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.6); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #00FFFC;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
}

.button {
    text-decoration: none;
    color: #000000;
    background: #00FFFC;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
}

/* ----------------------------      Footer      --------------------------- */

.autor {
    color: #00FFFC
}

.autor:hover {
    color: #00A4A2;
    text-decoration: none
}

.footer-credits {
    padding-top: 20px;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block; 
    }
}

@media (min-width: 992px) {
    body {
        padding: 0;
    }
    .navbar {
        right: auto;
        background: none;
        border: none;
    }
}

@keyframes form-entry {
  0% {
    height:0;
    width: 0;
    opacity: 0;   
    padding: 0;
  } 
  20% {
    height: 0;
    border: 1px solid #00FFFC;
    width: 0;
    opacity: 0;  
    padding: 0; 
  } 
  
  
  40% {
    width: 0;
    height: 120px;
    border: 6px solid #00A4A2; 
    opacity: 1 ; 
    padding: 0;
  }
  
  100% {
    height: 120px; 
    width: 500px;   
  }
}


@keyframes input-entry {
  0% {
    height:0;
    opacity: 0;   
    padding: 0;
  }
  
  50% {
    height:0;
    opacity: 0;   
    padding: 0;
  }

  60% {    
    height: 70px;
  }
  

  100% {
    opacity: 1;
  }
}