/* ---------------------------- General settings --------------------------- */

body {
    background-color: #000000;
    color: #00FFFC;
}

/* ----------------------------       Logo       --------------------------- */

#logo {
  animation: logo-entry 4s ease-in; 
  width: 45px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  z-index: 40;
}

h1 {
    animation: text-glow 2s ease-out infinite alternate;
    color: #00a4a2;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
}

h1::before {
    animation: before-glow 2s ease-out infinite alternate;
}

h1::after {
    animation: after-glow 2s ease-out infinite alternate;
}

@keyframes text-glow {
  0% {
    color: #00a4a2;
    text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  } 
  100% {
    color: #00FFFC;
    text-shadow: 0 0 20px rgba(0, 255, 253, .6), 0 0 10px rgba(0, 255, 253, .4), 0 2px 0 #000;
  }
}

.buttons-p {
    padding-top: 15px;
}

/* ----------------------------       Map        --------------------------- */

.fade-box {
  animation: input-entry 3s ease-in; 
}

.map-background {
    background-color: #000000;
    border-style: solid;
    border-color: #00FFFC;
}

#map {
    height: 750px;
}

/* ---------------------------      navmenu      --------------------------- */

.navmenu-float {
    left: 0px; 
    right: 1555px;
}

.navmenu-brand {
    text-decoration: none;
    color: #00FFFC;
}

.navmenu-brand:hover {
    text-decoration: none;
    color: #000000;
    background: #00FFFC;
}

.navmenu-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
    background-color: #00FFFC;
    border-style: solid;
    border-color: #000000;
}
.navmenu-nav li a:hover {
    text-decoration: none;
    color: #000000;
    background: #00A4A2;
}

/* ----------------------------      Status      --------------------------- */

.status {
    height: 540px;
}

.coordinates {
    border-style: solid;
    border-color: #00FFFC;
}

li a {
    display: block;
    text-decoration: none;
    color: #000000;
    background-color: #00FFFC;
    border-style: solid;
    border-color: #000000;
    cursor: pointer;
}

li a:hover {
    text-decoration: none;
    color: #000000;
    background: #00A4A2;
}

.airline-noselected {
    cursor: pointer;
}

.airline-noselected:hover {
    background: #cccccc;
    color: #000000;
}

.airline-selected {
    text-decoration: none;
    color: #000000;
    background: #00FFFC;
    cursor: pointer;
}

.airlines {
    max-height: 165px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}

.countries {
    max-height: 165px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}

::-webkit-scrollbar {
      width: 15px;
}

::-webkit-scrollbar-track {
      background-color: #00A4A2;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.6); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #00FFFC;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
}

.button {
    text-decoration: none;
    color: #000000;
    background: #00FFFC;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
}

/* ----------------------------      Footer      --------------------------- */

.autor {
    color: #00FFFC
}

.autor:hover {
    color: #00A4A2;
    text-decoration: none
}

.footer-credits {
    padding-top: 20px;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block; 
    }
}

@media (min-width: 992px) {
    body {
        padding: 0;
    }
    .navbar {
        right: auto;
        background: none;
        border: none;
    }
}

@keyframes input-entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}